header {
  padding: 20px 0;
  box-shadow: 0px 5px 15px 5px #00000026;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.dealsMommyLogo {
  max-width: 198px;
  max-height: 98px;
}
.wrapperHeaderSearch {
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px #00000026;
  max-height: 47px;
  padding: 16px;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 30%;
}
.headerSearch {
  border: none;
  font-size: 20px;
  width: 90%;
}
.headerSearch::placeholder {
  color: #5b5b5b;
}
.headerSearch:focus {
  outline: none;
}
.searchIconSVG {
  fill: #bc0d2a;
}
.redBtnHeader {
  display: none;
}
.wrapperMobileBurger {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.myChoiseLike,
.burgerMenuIcon {
  fill: #bc0d2a;
}
.myChoiseLike:hover,
.myChoiseLike:focus,
.burgerMenuIcon:hover,
.burgerMenuIcon:focus {
  fill: #ad3246;
}
.headerNavigationList {
  margin-top: 20px;
  padding-top: 10px;
  display: none;
}
@media (min-width: 768px) {
  header {
    padding-bottom: 0;
  }
  .wrapperHeaderSearch {
    display: flex;
  }
  .redBtnHeader {
    display: block;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #bc0d2a;
    font-size: 20px;
    font-weight: 700;
    transition: 0.2s;
    color: #fff;
  }
  .redBtnHeader:hover,
  .redBtnHeader:focus {
    background-color: #fff;
    color: #bc0d2a;
    border: 2px solid #bc0d2a;
    transition: 0.2s;
    padding: 8px 30px;
  }
  .wrapperMobileBurger {
    display: none;
  }
  .headerNavigationList {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  .wrapperHeaderNavigation {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
  }
  .navigationLink {
    padding: 20px 12px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 200px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px 0px #cccccc;
  }

  .navigationLink:hover,
  .navigationLink:focus {
    color: #bc0d2a;
    transition: 0.3s;
    border: 1px solid #cccccc;
    margin-bottom: -1px;
    border-bottom: none;
  }
  
}
