#highestMommyRangCardsList{
    padding: 0;
}
.titlehighestMommyRang{
    font-weight: 700;
}
.highestMommyRangCard{
    max-width: 175px;
    padding: 20px 10px;
    box-shadow: 4px 0px 10px 0px #b4b4b4 !important;
    border-radius: 10px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 320px !important;
}
.highestMommyRangCard-title{
    line-clamp: 3;
}
.text-muted{
    margin-bottom: 0;
}
.btnMoreDBlue{
    border: 1px solid #0075D5;
    color: #0075D5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 10px;
    margin: 0 auto;
}
.btnMoreDBlue .discountBtn{
    background-color: #0075D5;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 0 10px 10px 0;
}

@media (min-width: 678px){
    .highestMommyRangBlock{
        
    }
 .highestMommyRangCard{
    max-width: 275px;
    height: auto !important;
 }   
 .btnMoreDOrange{
    width: 80%;
 }
}